{% extends 'biblioteca/base.html' %}
{% block conteudo %}

<div style="align-self: center;  box-align: center; " class="container">
    <div class="card text-dark bg-light mb-3;" style="max-width: 18rem; align-items: center; position: relative; top: 100px; left: 540px;">
        <div style="font-size: 150%;">Cadastre-se</div>
        <div class="card-body">
            <div style="margin-bottom: 10px;" class="container">
                Nome<input style="margin-bottom: 10px;" class="form-control-sm" type="text">
                Data de Nascimento<input style="margin-right: 100px; margin-bottom: 10px;" class="form-control-sm" type="date">
                Email<input style="margin-bottom: 10px;" class="form-control-sm" type="email">
                Senha<input style="margin-bottom: 10px;" class="form-control-sm" type="password">
                Confirmar Senha<input style="margin-bottom: 10px;" class="form-control-sm" type="password">
                <div style="text-align: center;" class="form-control-sm" class="container">
                    <button>Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
