{% extends 'biblioteca/base.html' %}
{% block conteudo %}

<br><br><br>
<div style="margin-left: 20px;">
    <h1 style="color: whitesmoke;text-shadow: 1px 1px 1px rgb(255, 253, 253), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(10, 10, 10);">Em alta</h1>

    <div style="margin-top: 35px; display: flex; flex-wrap: wrap; gap: 30px;">
        {% for livro in livros %}
        <div style="flex: 0 1 240px; margin-bottom: 30px;">
            <a href="{% url 'detalhes_livro_usuario' livro.id_livro %}">
                <img src="{{ livro.imagem_url }}" style="width: 100%; height: 350px; object-fit: cover;" alt="{{ livro.titulo }}">
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}