{% extends 'biblioteca/base.html' %}
{% block conteudo %}

<div class="container">
    <h1 style="color: whitesmoke;">Usuarios_cadastrados: </h1>
    <table style="color: whitesmoke;" class = "table table-bordered tabe-striped">
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>nascimento</th>
            <th>email</th>
            <th>senha</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.id}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.nascimento}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.senha}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}